/* Importing the Poppins font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;  /* Total width includes padding and border */
    font-family: 'Poppins', sans-serif; 
}


:root {
    --theme: #1C244B;  /* Variable to #1C244B */
}


.main {
    position: relative;
    height: 100vh;  /* Sets the height to 100% */
    background: var(--theme); 
    padding: 30px;
    display: grid;
    justify-content: center;
}


.container {
    max-width: 800px;
    position: relative;
    display: flex;
    margin-top: 30px;
}


.main h1 {
    text-align: center;
    font-size: 40px;
    font-weight: 400;
    color: #fff; 
}


.main h3 {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    color: var(--theme); 
}


.content {
    flex-basis: 60%;
    padding: 50px 50px;
    background: #fff; 
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}


.form-image {
    flex-basis: 50%;
    background: #f0f4f8e9; 
    padding: 30px;
    display: grid;
    align-items: center;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}


.form-image img {
    max-width: 100%;
}


.btn {
    font-size: 20px;
    color: #fff; 
    width: 100%;
    border-radius: 50px;
    background: var(--theme); 
    font-weight: 580;
    padding: 12px 15px;
    transition: 0.4s; /* Add a smooth transition effect */
}

/* Styling the button when hovered */
.btn:hover {
    font-size: 18px;
    background: #fff; 
    color: var(--theme); 
    transform: scale(0.9);  /* Scaling effect*/
    border: 3px solid var(--theme);
}

/*On click effects*/
.btn:active {
    transform: scale(1.05);  /* Scaling effect*/
    font-size: 30px;
}


input,
textarea {
    border-radius: 50px;
    border: 1px solid var(--theme); 
}


.main form {
    margin: 30px 0;
}


.main input,
.main textarea {
    margin-bottom: 15px;
    font-size: 13px;
    color: #000; 
    padding: 14px 20px;
    width: 100%;
    display: inline-block;  /*Display as inline block elements*/
    background: #fcfcfc; 
}



/* Changes for screen up to 650px wide */
@media (max-width: 650px) {
  
    .container {
      flex-direction: column; /* Change to the single column layout */
    }
  
    .content {
      flex-basis: 100%;
      border-radius: 15px; 
    }
  
    .form-image {
      display: none; /* Hide the image in smaller screens */
    }
  
    .main h1 {
      font-size: 30px;
    }
  
    .main h3 {
      font-size: 24px;
    }
  
    .btn {
      font-size: 16px;
      padding: 10px 15px;
    }
  
    .main input,
    .main textarea {
      font-size: 12px;
      padding: 12px 15px;
    }
}
