.new {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f8fd; /* light blue background */
  }
  
  .container{
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: white; /* white container background */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* subtle shadow effect */
  }
  
  h1 {
    text-align: center;
    color: #333; /* dark text color */
  }
  
  .faq {
    margin-bottom: 20px;
  }
  
  input[type="checkbox"] {
    display: none;
  }
  
  label {
    font-weight: bold;
    cursor: pointer;
    display: block;
    padding: 10px;
    background-color: #1C244B; /* blue background for labels */
    color: #fff; /* white text color */
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  label:hover {
    background-color: #1C244B; /* darker blue on hover */
  }
  
  .answer {
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    display: none;
  }
  
  input[type="checkbox"]:checked + label + .answer {
    display: block;
  }
  